<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hydrosync.mobile"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <application
        android:name=".HydroSyncApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HydroSync">

        <activity
            android:name=".SensorConnectionActivity"
            android:exported="true"
            android:theme="@style/Theme.HydroSync">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity android:name=".TrendsActivity" android:exported="false" />
        <activity android:name=".AlertsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />

        <activity android:name=".PersonalSummaryActivity" android:exported="false" />
        <activity android:name=".WellnessActivity" android:exported="false"/>

        <activity
            android:name=".PredictionHistoryActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity"/>

        <activity
            android:name=".ble.BleScanActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />

        <activity android:name=".onboarding.OnboardingActivity" android:exported="false" />

        <service
            android:name=".ble.BleForegroundService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

    </application>
</manifest>
